---
category:
    shop_by_price: true
    products:
        limit: 200
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject 'noCompareMessage' (lang 'compare.no_compare')}}
{{inject 'category' category}}
{{inject 'settingsDataTagEnabled' settings.data_tag_enabled}}
{{inject 'shopByPriceRanges' category.shop_by_price}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<script type="text/x-template" id="product-list-vue-template">
    {{> components/category/product-list-vue-template}}
</script>
<script type="text/x-template" id="sidebar-vue-template">
    {{> components/category/sidebar-vue-template}}
</script>

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div id='category-app' class="page">

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
    </div>

    <div class="page-content" id="product-listing-vue-container">
        <sidebar
            ref="filter-ref"
            :category="category"
            @filter="filterCallback($event)"
        ></sidebar>
        <product-listing-container
            :page="page"
            :filteredProductsFromParent="filteredProducts"
        ></product-listing-container>
        <pagination
            ref="pagination-ref"
            v-model="page"
            :records="totalProducts"
            :per-page="12"
            @paginate="myCallBack($event)"
        ></pagination>
    </div>

    {{{region name="category_below_content"}}}
</div>
{{/partial}}
{{> layout/base}}
