// Pagination
.VuePagination {
    text-align: center;

    nav {
        ul.pagination {
            list-style-type: none;

            li.page-item {
                display: inline-block;

                button.page-link {
                    background-color: #557b97;
                    color: #fff;
                    margin: 0 .25rem;
                    font-size: 1.25rem;
                    border-radius: 8px;
                    min-width: 30px;
                    cursor: pointer;

                    &.active {
                        background-color: #000;
                    }

                    &:hover {
                        background-color: darken(#557b97, .33);
                    }
                }
            }
        }
    }
}

#vue-product-list {
    width:  75%;

    ul.productGrid {
        li.product {
            @include breakpoint('medium') {
                width: calc(25% - 1.5rem);
            }

            article.card {
                figure.card-figure {
                    a.card-figure__link {
                        .card-img-container {
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}

.page-sidebar {
    float: right;

    nav {
        #faceted-search-reset-button {
            background-color: #557b97;
            color: #fff;
            font-size: 1.25rem;
            border-radius: 8px;

            &:hover {
                background-color: #000;
            }
        }
    }
}